@import "global.scss";

/* === HEADER ======================== */

header{
    background-color: $grey;
    text-align: left;
    height: 40px;
    padding: 10px;

    h1{
        @include font(Lato);
        font-size: 24px;
        color: white;
        text-align: left;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin: 0;
        vertical-align: top;
        letter-spacing: -1px;

        a{
            text-decoration: none;
            color: white;
        }

        span{
            font-size: 23px;
            margin-left: 4px;
            font-weight: 400;
            color: $red;
        }
    }

    h3{
        color: #aaa;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        letter-spacing: 1px;
        padding-left: 10px;
        line-height: 50px;
        height: 40px;
        margin: 0;
    }

    #currentuser{
        text-align: center;
        display: inline-block;
        float: right;
        height: 60px;
        line-height: 60px;
        margin-top: -10px;
        padding-left: 10px;
        font-weight: 300;
        color: white;
        margin-left: 0px;
        border-left: 1px solid #404040;
        cursor: pointer;

        img{
            width: 40px;
            height: 40px;
            border-radius: 20px;
            vertical-align: top;
            margin-right: 10px;
            margin-top: 10px;
        }

        #username{
            margin-left: 10px;
            margin-right: 20px;
        }

        #logout{
            padding-left: 20px;
            border-left: 1px solid grey;
            cursor: pointer;

            &:hover{
                color: $red;
            };
        }
    }

  #loading{
    color: white;
    float: right;
    height: 60px;
    line-height: 60px;
    margin-top: -10px;
    margin-left: 10px;
  }
}



#fb-button{
	display: none;
    float: right;
    height: 60px;
    line-height: 60px;
}

#fb-auth{
    padding: 0 20px 0 10px;
    background-color: $fb-blue;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: 300;
    border: 0;
    height: 40px;

    span{
        height: 40px;
        line-height: 40px;
    }
}

#search{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 20px;
  display: none;

  i{
    position: absolute;
    color: $light-grey;
    top: 11px;
    left: 10px;
  }

  #filter{
    border-radius: 5px;
    height: 30px;
    padding: 0 10px 0 35px;
    float: left;
    border: 1px solid #cacaca;
    width: 203px;
    font-family: 'Lato';
    line-height: 32px;
    margin-top: 3px;
  }
}

#controls{
  margin-bottom: 10px;
  display: inline-block;
  float: right;
  display: none;

  #vinylcount{
    height: 40px;
    text-align: center;
    padding: 0 10px;
    color: white;
    float: right;
    line-height: 60px;
    font-weight: bold;
    font-size: 24px;
  }

  .control-button{
    height: 60px;
    padding: 0 20px;
    color: white;
    float: right;
    margin-top: -10px;
    font-weight: 300;
    font-size: 18px;
    line-height: 1;
    @include transition(all,.4s);
    @include font(Lato);
    cursor: pointer;
    border-left: 1px solid #404040;
    border-right: 1px solid black;

    &.addvinyl{
      &:hover{
        background-color: $green;
        border-left: 1px solid $green;
        border-right: 1px solid $dark-green;
      }
    }

    &.stats{
      &:hover{
        background-color: $orange;
        border-left: 1px solid $orange;
        border-right: 1px solid $dark-orange;
      }
    }

    &.import{
      &:hover{
        background-color: $blue;
        border-left: 1px solid $blue;
        border-right: 1px solid $dark-blue;
      }
    }

    .button-icon{
      line-height: 60px;
    }
    
  }
}

#dropdown-menu{
  display: none;
  margin: 60px 0 0 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  list-style-type: none;
  color: white;
  font-weight: 300;

  li{
    width: 105px;
    padding: 20px;
    background-color: $grey;
    cursor: pointer;

    i{
      margin-right: 10px;
    }

    &:hover{
      color: $red;
    }

    &.mobile-add, &.mobile-stats{
        display: none;
    }
  }
}

#vinylCount{
    text-align: center;
    width: 100%;

    p{
        font-weight: bold;
        font-size: 5em;
    }

    span{
        font-size: 1em;
    }
}

#addvinyl{
    cursor: pointer;
    text-align: center;

    p{
        font-size: 8em;
        font-weight: bold;
        margin-top: 116px;
        color: $red;
    }

    span{
        text-transform: uppercase;
    }
}

/* === FOOTER ===================*/

footer{
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 40px;
    font-weight: lighter;
    background-color: $red;
    letter-spacing: 1px;
    width: calc(100%-80px);

    a{
        text-decoration: none;
        font-weight: normal;
        color: white;

        &:hover{
            text-decoration: underline;
        }
    }
}