@import "global.scss";

/* === User Profile ================== */

.user-name{
	font-size: 18px;
	border-bottom: 1px solid #505050;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.user-location{
	font-size: 14px;
	color: #cacaca;
	font-weight: 300;
	padding-left: 10px;
}


.general-info{
	width: 150px;
	display: inline-block;

	.user-pic{
		padding: 10px;
		width: 100px;
		height: 100px;
		border: 1px solid #505050;
	}

	.vinyl-count, .price-value, .top-label, .top-artist{
		p{
			margin: 10px 0 0 0;
			color: #cacaca;
			font-weight: 300;
		}
		span{
			font-size: 24px;
		}
	}
}

.detailed-info{
	width: 640px;
	display: inline-block;
	vertical-align: top;
}
