/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);

/* Mixins & Variables */

@mixin scale($x,$y){
    transform: scale($x,$y);
    -ms-transform: scale($x,$y);
    -webkit-transform: scale($x,$y);
}

@mixin transition($attribute, $duration){
    transition: $attribute $duration;
    -webkit-transition: $attribute $duration;
}

@mixin radius($value){
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    border-radius: $value;
}

$orange: #ff6c00;

/* General stuff */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #ddd;
    font-family: 'Lato', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;

    p{
        padding: 20px 0;

        em{
            font-size: 2em;
        }
    }
}

.centeredtext{
    text-align: center;
}

/* === HEADER ======================== */

header{
    background-color: #202020;
    text-align: left;
    height: 60px;
    padding: 10px 20px;

    h1{
        font-family: 'Playball', cursive;
        font-size: 2em;
        color: white;
        text-align: left;
        display: inline-block;
        height: 60px;
        line-height: 60px;
        text-shadow: 0 0 10px white;
    }

    h3{
        color: #aaa;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
        display: inline-block;
        letter-spacing: 1px;
        padding-left: 10px;
        line-height: 60px;
        height: 60px;
    }
}

#loading{
    color: white;
    float: right;
    height: 60px;
    line-height: 60px;
}

#fb-button{
	display: none;
    float: right;
    height: 60px;
    line-height: 60px;
}

#fb-auth{
    padding: 0 20px 0 10px;
    background-color: #3B5998;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', Helvetica, sans-serif;
    font-weight: light;
    border: 0;
    height: 40px;

    span{
        height: 40px;
        line-height: 40px;
    }
}

/* === LOGGED IN CONTENT ================== */

#loggedInWrapper{
    display: none;
    padding: 10px;

    #controls{
        margin-bottom: 10px;

        #filter{
            border-radius: 5px;
            height: 40px;
            padding: 0 10px;
            float: left;
            border: 1px solid #cacaca;
            width: 280px;
        }

        #vinylcount{
            height: 40px;
            @include radius(5px);
            background-color: white;
            border: 1px solid #cacaca;
            text-align: center;
            padding: 0 10px;
            color: #505050;
            float: right;
            line-height: 40px;
            font-weight: bold;
            font-size: 24px;
            margin-right: 10px;
        }

        #addvinyl{
            background-color: $orange;
            border: 1px solid $orange;
            @include radius(5px);
            height: 40px;
            padding: 0 10px 0 5px;
            color: white;
            float: right;
            opacity: .8;
            margin-top: 1px;
            @include transition(all,.4s);

            &:hover{
                opacity: 1;
            }
        }
    }
}

#currentuser{
    text-align: center;
    height: 320px;
    display: inline-block;
    float: right;
    height: 60px;
    line-height: 60px;
    color: white;    

    img{
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }

    #username{
        margin-left: 10px;
        margin-right: 20px;
    }

    #logout{
        padding-left: 20px;
        border-left: 1px solid grey;
        cursor: pointer;

        &:hover{
            color: $orange;
        };
    }
}

#vinylCount{
    text-align: center;
    width: 100%;

    p{
        font-weight: bold;
        font-size: 5em;
    }

    span{
        font-size: 1em;
    }
}

#addvinyl{
    cursor: pointer;
    text-align: center;

    p{
        font-size: 8em;
        font-weight: bold;
        margin-top: 116px;
        color: $orange;
    }

    span{
        text-transform: uppercase;
    }
}

/* === ALL THE VINYLS ============*/

.footable{
    //@include radius(5px);

    #edit, #delete{
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;

        &:hover{
            color: $orange;
        }
    }
}

/* === OVERLAY ===================*/

#overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;

    .close{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        margin: 20px 20px 0 0;
        background-size: cover;
        cursor: pointer;
        color: white;
        font-size: 2em;
    }

    .overlayform{
        width: 300px;
        height: 420px;
        position:absolute;
        left:50%;
        top:50%;
        margin: -210px 0 0 -150px;
        color: white;
        z-index: 100;
        text-align: center;

        form{
            width: 100%;
            font-size: 12px;

            input[type="text"]{
                margin-bottom: 10px;
                border: none;
                @include radius(5px);
                padding: 10px;
                width: calc(100% - 20px);
            }

            input[type="radio"]{
                margin: 0 5px 0 0;
            }

            span{
                margin-right: 20px;
            }

            input[type="submit"]{
                text-transform: uppercase;
                border: none;
                @include radius(5px);
                padding: 10px 20px;
                background-color: $orange;
                color: white;
                text-shadow: 0 0 10px #202020;
                @include transition(all,.2s);

                &:hover{
                    padding: 10px 40px;
                    text-shadow: 0 0 10px white;
                }

            }
        }

        #response{
            color: white;
        }
    }
}

