/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #cacaca;
    font-family: 'Lato', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.container{
    width: 960px;
    margin: 0 auto;

    p{
        padding: 20px 0;

        em{
            font-size: 2em;
        }
    }
}

.centeredtext{
    text-align: center;
}

/* === HEADER ======================== */

header{
    background-color: #202020;
    padding: 50px 0;
    text-align: center;
    height: 250px;

    h1{
        font-family: 'Playball', cursive;
        font-size: 8em;
        color: white;
        text-shadow: 2px 2px 0px #cacaca;
        text-align: center;
    }

    h3{
        color: #cacaca;
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        //text-transform: uppercase;
        padding: 20px 0;
        letter-spacing: 2px;
    }
}

#fb-button{
	display:none;
}

#fb-auth{
    padding: 10px 20px 10px 0;
    background-color: #3B5998;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', Helvetica, sans-serif;
    border: 0;

    img{
    	vertical-align: middle;
    	height: 20px;
    	width: 20px;
        padding-right: 10px;
        padding-left: 10px
    }

    span{
    	vertical-align: middle;
    	height: 20px;
    }
}

/* === LOGGED IN CONTENT ================== */

#leftSidebar{
    
    width: 300px;
    float:left;
    text-align: center;

    #currentuser{
        padding: 20px 0;

        p{
            margin-top: 20px;
            font-size: 24px;
            font-weight: bold;
        }
    }

    #vinylCount{
        text-align: center;
        width: 100%;

        p{
            font-weight: bold;
            font-size: 5em;
        }

        span{
            font-size: 1em;
        }
    }
}

#rightContent{
    float: left;
}
