/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);

@mixin scale($x,$y){
    transform: scale($x,$y);
    -ms-transform: scale($x,$y);
    -webkit-transform: scale($x,$y);
}

@mixin transition($attribute, $duration){
    transition: $attribute $duration;
    -webkit-transition: $attribute $duration;
}

$orange: #ff6800;

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #ddd;
    font-family: 'Lato', Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;

    p{
        padding: 20px 0;

        em{
            font-size: 2em;
        }
    }
}

.centeredtext{
    text-align: center;
}

/* === HEADER ======================== */

header{
    background-color: #202020;
    padding: 50px 0;
    text-align: center;
    height: 250px;

    h1{
        font-family: 'Playball', cursive;
        font-size: 8em;
        color: white;
        text-shadow: 2px 2px 0px #cacaca;
        text-align: center;
    }

    h3{
        color: #cacaca;
        font-size: 1em;
        font-weight: 300;
        text-align: center;
        //text-transform: uppercase;
        padding: 20px 0;
        letter-spacing: 2px;
    }
}

#fb-button{
	display:none;
}

#fb-auth{
    padding: 10px 20px 10px 0;
    background-color: #3B5998;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', Helvetica, sans-serif;
    border: 0;

    img{
    	vertical-align: middle;
    	height: 20px;
    	width: 20px;
        padding-right: 10px;
        padding-left: 10px
    }

    span{
    	vertical-align: middle;
    	height: 20px;
    }
}

/* === LOGGED IN CONTENT ================== */

#currentuser{
    text-align: center;
    height: 320px;

    p{
        margin-top: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    button{
        border: 0;
        border-radius: 2px;
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #cacaca;
        font-family: 'Lato', Helvetica, sans-serif;
        color: white;
        font-size: 10px;
        text-transform: lowercase;
        @include transition(all, .2s);

        &:hover{
            background-color: #ff6800;
        }
    }
}

#vinylCount{
    text-align: center;
    width: 100%;

    p{
        font-weight: bold;
        font-size: 5em;
    }

    span{
        font-size: 1em;
    }
}

#addvinyl{
    cursor: pointer;
    text-align: center;

    p{
        font-size: 8em;
        font-weight: bold;
        margin-top: 116px;
        color: $orange;
    }

    span{
        text-transform: uppercase;
    }
}

/* === ALL THE VINYLS ======================*/

#vinyldata{

    list-style: none;
    margin: 10px auto;
    text-align: center;

    .vinyl:hover{
        cursor: pointer;
    }

    li{
        display: inline-block;
        width: 300px;
        margin: 5px;
        background-color: white;
        color: #202020;
        position: relative;
        height: 420px;
        overflow: hidden;
        @include transition(all,.2s);

        &:hover{
            .cover img{
                @include scale(1.05,1.05);
            }
        };

        .cover{
            width: 300px;
            height: 300px;
            overflow: hidden;

            img{
                @include transition(all,0.2s);
            }
        }

        .vinylid{
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,.5);
            padding: 4px 8px;
            color: white;
        }

        .artist{
            text-align: center;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 5px 0;
            font-size: 24px;
        }

        .album{
            text-align: center;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: normal;
        }

        .label{
            text-align: center;
            font-size: 12px;
            color: #777;
            letter-spacing: 1px;
            padding: 15px 0;
            font-weight: 300;
        }

        .type{
            text-align: center;
            font-size: 12px;
            font-weight: 300;
            color: #777;
            padding-top: 10px;
        }
    }
}

/* === OVERLAY ===================*/

#overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    display: none;

    .close{
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        margin: 20px 20px 0 0;
        background: url('../img/close.png') no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    #addVinylForm{
        width: 420px;
        height: 420px;
        position:absolute;
        left:50%;
        top:50%;
        margin:-300px 0 0 -210px;
        color: white;
        z-index: 100;
        text-align: center;

        h2{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: 2em;
        }

        form{
            width: 100%;

            input[type="text"]{
                margin-bottom: 10px;
                border: none;
                border-radius: 4px;
                padding: 10px;
                width: calc(100% - 20px);
            }

            input[type="radio"]{
                margin: 0 5px 0 0;
            }

            span{
                margin-right: 20px;
            }

            input[type="submit"]{
                text-transform: uppercase;
                border: none;
                border-radius: 4px;
                padding: 10px 20px;
                background-color: $orange;
                color: white;
                text-shadow: 0 0 10px #202020;
                @include transition(all,.2s);

                &:hover{
                    padding: 10px 40px;
                    text-shadow: 0 0 10px white;
                }

            }
        }
    }
}

