@import "global.scss";

/* === ALL THE VINYLS ============*/

.footable{

    // Controls
    .edit, .delete{
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;

        &:hover{
            color: $green;
        }
    }
    
    // Artwork
    .vinyl-artwork{
        width: 60px;
        height: 60px;
        background: url('../img/vinyl_PH.svg') no-repeat;
        background-size: cover;

        img{
            width: 60px;
            height: 60px;
        }
    }
    
    .artwork-column{
        width: 60px;
    }

    .vinyl-artist{
        text-transform: capitalize;
    }
    
    // Audio Sample
    audio{
        vertical-align: middle;
    }

    // Vinyl Color
    .circle
    {
        display: inline-block;
        width:32px;
        height:32px;
        border: 1px solid #cacaca;
        @include radius(17px);
        font-size:18px;
        color: $white;
        line-height:32px;
        text-align:center;
        background:#000;
        text-indent: -9999px;
    }

    // Genres
    .genre{
        &.electronic{

        }
    }
}

#pagination{
    width: 300px;
    margin: 20px auto 10px;
    color: $grey;

    div{
      display: inline-block;
      text-align: center;
      height: 50px;
      line-height: 50px;
    }

    .next-page, .prev-page{
      width: 50px;
      font-size: 32px;
      cursor: pointer;

      &:hover{
        color: $orange;
      }
    }

    .prev-page{
      display: none;
    }

    .current-page{
      width: 200px;
      font-size: 24px;
      vertical-align: top;

      span{
        color: $light-grey;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
}