@import "global.scss";

/* === ALL THE VINYLS ============*/

.footable{

    text-transform: capitalize;

    // Controls
    .edit, .delete{
        cursor: pointer;
        margin-right: 10px;
        font-size: 18px;

        &:hover{
            color: $green;
        }
    }
    
    // Artwork
    .vinyl-artwork{
        width: 60px;
        height: 60px;
        background: url('../img/vinyl_PH.svg') no-repeat;
        background-size: cover;

        img{
            width: 60px;
            height: 60px;
        }
    }
    
    .artwork-column{
        width: 60px;
    }
    
    // Audio Sample
    audio{
        vertical-align: middle;
    }

    // Vinyl Color
    .circle
    {
        display: inline-block;
        width:32px;
        height:32px;
        border: 1px solid #cacaca;
        @include radius(17px);
        font-size:18px;
        color: $white;
        line-height:32px;
        text-align:center;
        background:#000;
        text-indent: -9999px;
    }

    // Genres
    .genre{


        &.electronic{

        }
    }
}

.pagination{
    
    text-align: center;

    ul{
        list-style-type: none;

        li{
            display: inline-block;
            margin: 0 10px;
            font-size: 18px;

            &.footable-page-arrow{
                font-size: 26px;
            }

            a{
                text-decoration: none;  
                color: $grey;

                &:hover{
                    color: $green;
                }
            }
        }
    }
}