<form id="addvinylform" action="php/addvinyl.php" method="post">
    <input type="text" class="artist" name="artist" required placeholder="Artist*" value=""><br>
    <input type="text" class="title" name="title" required placeholder="Title*" value="">
    <br/>
    <select name="count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <select name="size">
        <option value="12in">12"</option>
        <option value="7in">7"</option>
    </select>
    <select name="type">
        <option value="Album">Album</option>
        <option value="EP">EP</option>
        <option value="LP">LP</option>
    </select>
    <input type='text' name="color" id="colorpicker"/>
    <br/>
    <!-- hidden inputs -->
    <input type="hidden" name="artist_corrected">
    <input type="hidden" name="album_corrected">
    <input type="hidden" name="label">
    <input type="hidden" name="genre">
    <input type="hidden" name="artistpic">
    <input type="hidden" name="video">
    <input type="hidden" name="duration">
    <input type="hidden" name="sample">
    <input type="hidden" name="itunes">
    <input type="hidden" name="deezer">
    <input type="hidden" name="artwork">
    <input type="hidden" name="price">
    <input type="hidden" name="release">
    <input type="hidden" name="catalog">
    <input type="hidden" name="tracklist">
    <!-- search and submit -->
    <button id="searchbutton" type="button" class="button" onclick="Main.fetchData();">search</button>
    <div id="searching" class="fa fa-spinner fa-spin" style="display: none;"></div>
    
    <div id="preview">
        <div class="general-info">
            <div class="artwork"></div>
            <div class="label-release-genre"></div>
        </div>
        <div class="additional-info">
            <div class="sample"></div>
        </div>
    </div>

    <input id="submitbutton" class="button" type="submit" value="Add Vinyl" style="display: none">
</form>
<div id="debug-response"></div>