<form id="editvinylform" action="php/editvinyl.php" method="post">
    <select name="count" class="select-count">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <select name="size" class="select-size">
        <option value="12in">12"</option>
        <option value="10in">10"</option>
        <option value="7in">7"</option>
    </select>
    <select name="type" class="select-type">
        <option value="Album">Album</option>
        <option value="Album">Single</option>
        <option value="EP">EP</option>
        <option value="LP">LP</option>
    </select>
    <input type='text' name="color" id="colorpicker"/>
    
    <input id="submitbutton" class="button" type="submit" value="Edit Vinyl">
</form>