<div id="importform">
	<div class="headline">Import CVS Data</div>

  <div class="description">
    <p>
      To import data you need to provide a CSV file with only 2 columns: artist and title. You can export a proper CSV file using Google Docs like seen <a href="https://docs.google.com/spreadsheet/ccc?key=0ArpfqbvlLAbldGkxNHZHa3Q0SE1OcjI1YkN1a3Y0Y0E&usp=drive_web#gid=0" target="_blank">here</a>. <br><br>
      Or <a href="">download this CSV template</a> and edit it in your text editor.<br><br>
      Choose your CSV file below
    </p>
  </div>

  <div id="inputs" class="clearfix">
    <input type="file" id="files" name="files[]" multiple="">
  </div>

	<div id="filedetails"></div>
  
</div>