<div id="importform">
	<div class="headline">Import CVS Data</div>

  <div class="description">
    <p>
      To import data you need to provide a CSV file with only 2 columns: artist and title.<br>You can export a proper CSV file using Google Docs like seen <a href="https://docs.google.com/spreadsheet/ccc?key=0ArpfqbvlLAbldGkxNHZHa3Q0SE1OcjI1YkN1a3Y0Y0E&usp=sharing#gid=0" target="_blank">here</a>. <br><br>
      <span>Or</span><br><br><a href="example.csv" title="Download example file">Download this CSV template</a> and edit it in your text editor.<br>
    </p>
  </div>

  <div id="inputs" class="clearfix">
    <input type="file" id="files" name="files[]" multiple="">
  </div>

	<div id="filedetails"></div>
  
</div>