@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mixins & Variables */
/* General stuff */
/* line 43, ../sass/global.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 47, ../sass/global.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 52, ../sass/global.scss */
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/* line 59, ../sass/global.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 63, ../sass/global.scss */
.container p {
  padding: 20px 0;
}
/* line 66, ../sass/global.scss */
.container p em {
  font-size: 2em;
}

/* line 72, ../sass/global.scss */
.centeredtext {
  text-align: center;
}

/* line 76, ../sass/global.scss */
.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  background-color: #e27a3f;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: 300;
}
/* line 90, ../sass/global.scss */
.button:hover {
  background-color: #F27229;
}

/* === LOGGED IN CONTENT ================== */
/* line 97, ../sass/global.scss */
#loggedInWrapper {
  display: none;
  padding: 10px;
}
/* line 101, ../sass/global.scss */
#loggedInWrapper #controls {
  margin-bottom: 10px;
}
/* line 104, ../sass/global.scss */
#loggedInWrapper #controls #filter {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  float: left;
  border: 1px solid #cacaca;
  width: 280px;
}
/* line 113, ../sass/global.scss */
#loggedInWrapper #controls #vinylcount {
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cacaca;
  text-align: center;
  padding: 0 10px;
  color: #505050;
  float: right;
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}
/* line 128, ../sass/global.scss */
#loggedInWrapper #controls #addvinyl {
  background-color: #e27a3f;
  border: 1px solid #e27a3f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  padding: 0 10px 0 5px;
  color: white;
  float: right;
  opacity: .8;
  margin-top: 1px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 140, ../sass/global.scss */
#loggedInWrapper #controls #addvinyl:hover {
  opacity: 1;
}

/* line 147, ../sass/global.scss */
#currentuser {
  text-align: center;
  height: 320px;
  display: inline-block;
  float: right;
  height: 60px;
  line-height: 60px;
  color: white;
}
/* line 156, ../sass/global.scss */
#currentuser img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  vertical-align: middle;
}
/* line 163, ../sass/global.scss */
#currentuser #username {
  margin-left: 10px;
  margin-right: 20px;
}
/* line 168, ../sass/global.scss */
#currentuser #logout {
  padding-left: 20px;
  border-left: 1px solid grey;
  cursor: pointer;
}
/* line 173, ../sass/global.scss */
#currentuser #logout:hover {
  color: #e27a3f;
}

/* line 179, ../sass/global.scss */
#vinylCount {
  text-align: center;
  width: 100%;
}
/* line 183, ../sass/global.scss */
#vinylCount p {
  font-weight: bold;
  font-size: 5em;
}
/* line 188, ../sass/global.scss */
#vinylCount span {
  font-size: 1em;
}

/* line 193, ../sass/global.scss */
#addvinyl {
  cursor: pointer;
  text-align: center;
}
/* line 197, ../sass/global.scss */
#addvinyl p {
  font-size: 8em;
  font-weight: bold;
  margin-top: 116px;
  color: #e27a3f;
}
/* line 204, ../sass/global.scss */
#addvinyl span {
  text-transform: uppercase;
}
