@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mixins & Variables */
/* General stuff */
/* line 57, ../sass/global.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 61, ../sass/global.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 66, ../sass/global.scss */
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/* line 73, ../sass/global.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 77, ../sass/global.scss */
.container p {
  padding: 20px 0;
}
/* line 80, ../sass/global.scss */
.container p em {
  font-size: 2em;
}

/* line 86, ../sass/global.scss */
.centeredtext {
  text-align: center;
}

/* line 90, ../sass/global.scss */
.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  background-color: #45b29d;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 105, ../sass/global.scss */
.button:hover {
  background-color: #e27a3f;
}

/* === LOGGED IN CONTENT ================== */
/* line 112, ../sass/global.scss */
#loggedInWrapper {
  display: none;
  padding: 10px;
  min-height: calc(100% - 197px);
}
/* line 117, ../sass/global.scss */
#loggedInWrapper #controls {
  margin-bottom: 10px;
}
/* line 120, ../sass/global.scss */
#loggedInWrapper #controls #filter {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  float: left;
  border: 1px solid #cacaca;
  width: 280px;
  font-family: 'Lato';
  line-height: 42px;
}
/* line 131, ../sass/global.scss */
#loggedInWrapper #controls #vinylcount {
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cacaca;
  text-align: center;
  padding: 0 10px;
  color: #505050;
  float: right;
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}
/* line 146, ../sass/global.scss */
#loggedInWrapper #controls .control-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px 0 15px;
  color: white;
  float: right;
  margin-top: 1px;
  font-weight: 300;
  line-height: 1;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  font-family: Lato, Helvetica, sans-serif;
}
/* line 158, ../sass/global.scss */
#loggedInWrapper #controls .control-button.addvinyl {
  background-color: #45b29d;
  border: 1px solid #45b29d;
}
/* line 161, ../sass/global.scss */
#loggedInWrapper #controls .control-button.addvinyl:hover {
  background-color: #368a7a;
}
/* line 166, ../sass/global.scss */
#loggedInWrapper #controls .control-button.stats {
  background-color: #e27a3f;
  border: 1px solid #e27a3f;
  margin-left: 10px;
}
/* line 171, ../sass/global.scss */
#loggedInWrapper #controls .control-button.stats:hover {
  background-color: #bf6736;
}
/* line 176, ../sass/global.scss */
#loggedInWrapper #controls .control-button.import {
  background-color: #4f768c;
  border: 1px solid #4f768c;
  margin-left: 10px;
}
/* line 181, ../sass/global.scss */
#loggedInWrapper #controls .control-button.import:hover {
  background-color: #334d5c;
}
/* line 187, ../sass/global.scss */
#loggedInWrapper #controls .control-button .button-icon {
  margin-right: 10px;
}

/* line 196, ../sass/global.scss */
#vinylCount {
  text-align: center;
  width: 100%;
}
/* line 200, ../sass/global.scss */
#vinylCount p {
  font-weight: bold;
  font-size: 5em;
}
/* line 205, ../sass/global.scss */
#vinylCount span {
  font-size: 1em;
}

/* line 210, ../sass/global.scss */
#addvinyl {
  cursor: pointer;
  text-align: center;
}
/* line 214, ../sass/global.scss */
#addvinyl p {
  font-size: 8em;
  font-weight: bold;
  margin-top: 116px;
  color: #e27a3f;
}
/* line 221, ../sass/global.scss */
#addvinyl span {
  text-transform: uppercase;
}

/* line 5, ../sass/import.scss */
#importform .description {
  border-bottom: 1px solid #505050;
}
/* line 9, ../sass/import.scss */
#importform .description p {
  font-weight: 300;
}
/* line 12, ../sass/import.scss */
#importform .description p a {
  color: #45b29d;
  text-decoration: none;
}
/* line 16, ../sass/import.scss */
#importform .description p a:hover {
  color: #e27a3f;
}
/* line 21, ../sass/import.scss */
#importform .description p span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}
/* line 29, ../sass/import.scss */
#importform #inputs {
  margin-top: 20px;
}
/* line 33, ../sass/import.scss */
#importform #filedetails {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}
/* line 40, ../sass/import.scss */
#importform button#startimport {
  width: 300px;
  margin: 20px auto;
  display: block;
}
/* line 47, ../sass/import.scss */
#importform .importprogress {
  text-align: center;
  font-weight: 300;
}
/* line 51, ../sass/import.scss */
#importform .importprogress .fa-refresh {
  font-size: 60px;
}
/* line 56, ../sass/import.scss */
#importform .importprogress .status .counter {
  font-size: 24px;
}
/* line 60, ../sass/import.scss */
#importform .importprogress .status .vinylname {
  color: #777;
}
/* line 64, ../sass/import.scss */
#importform .importprogress .status .dbstatus {
  color: #e27a3f;
}
/* line 69, ../sass/import.scss */
#importform .importprogress .progress {
  width: auto;
  padding: 5px;
  height: 10px;
  border: 1px solid #777;
  margin-top: 20px;
}
/* line 76, ../sass/import.scss */
#importform .importprogress .progress .progressbar {
  background-color: #45b29d;
  height: 100%;
  width: 0%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 85, ../sass/import.scss */
#importform #importreport {
  margin-top: 20px;
  color: #777;
  text-align: center;
}
/* line 90, ../sass/import.scss */
#importform #importreport .success-title {
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 20px;
}
/* line 97, ../sass/import.scss */
#importform #importreport .report {
  font-weight: 300;
}
/* line 100, ../sass/import.scss */
#importform #importreport .report span {
  font-weight: 400;
}
/* line 104, ../sass/import.scss */
#importform #importreport .report .success {
  color: #64c370;
}
/* line 108, ../sass/import.scss */
#importform #importreport .report .exists {
  color: #f6ce4e;
}
/* line 112, ../sass/import.scss */
#importform #importreport .report .not-found {
  color: #ee5353;
}
/* line 117, ../sass/import.scss */
#importform #importreport .done {
  margin: 20px auto;
  width: 150px;
  display: block;
}
