@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mixins & Variables */
/* General stuff */
/* line 59, ../sass/global.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 63, ../sass/global.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 68, ../sass/global.scss */
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/* line 75, ../sass/global.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 79, ../sass/global.scss */
.container p {
  padding: 20px 0;
}
/* line 82, ../sass/global.scss */
.container p em {
  font-size: 2em;
}

/* line 88, ../sass/global.scss */
.centeredtext {
  text-align: center;
}

/* line 92, ../sass/global.scss */
.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  background-color: #45b29d;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 107, ../sass/global.scss */
.button:hover {
  background-color: #e27a3f;
}

/* === LOGGED IN CONTENT ================== */
/* line 114, ../sass/global.scss */
#loggedInWrapper {
  display: none;
  padding: 0px 0px 50px 0px;
  min-height: calc(100% - 197px);
}

/* === OVERLAY ===================*/
/* line 6, ../sass/overlay.scss */
#overlay {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
/* line 15, ../sass/overlay.scss */
#overlay .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 20px 20px 0 0;
  background-size: cover;
  cursor: pointer;
  color: white;
  font-size: 2em;
}
/* line 28, ../sass/overlay.scss */
#overlay .overlayform {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -200px 0 0 -150px;
  color: white;
  z-index: 100;
  text-align: center;
}
/* line 39, ../sass/overlay.scss */
#overlay .overlayform form {
  width: 100%;
  font-size: 12px;
}
/* line 43, ../sass/overlay.scss */
#overlay .overlayform form input[type="text"] {
  margin-bottom: 10px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
}
/* line 51, ../sass/overlay.scss */
#overlay .overlayform form input[type="radio"] {
  margin: 0 5px 0 0;
}
/* line 55, ../sass/overlay.scss */
#overlay .overlayform form span {
  margin-right: 20px;
}
/* line 60, ../sass/overlay.scss */
#overlay .overlayform form input[type="submit"] {
  text-transform: uppercase;
}
/* line 68, ../sass/overlay.scss */
#overlay .overlayform form #searching .loading {
  font-size: 18px;
  color: white;
  margin-top: 30px;
}
/* line 73, ../sass/overlay.scss */
#overlay .overlayform form #searching .loading i {
  font-size: 40px;
  color: white;
}
/* line 79, ../sass/overlay.scss */
#overlay .overlayform form #searching .progress {
  width: auto;
  padding: 5px;
  height: 10px;
  border: 1px solid #777;
  margin-top: 20px;
}
/* line 86, ../sass/overlay.scss */
#overlay .overlayform form #searching .progress .progressbar {
  background-color: #45b29d;
  height: 100%;
  width: 0%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 94, ../sass/overlay.scss */
#overlay .overlayform form #searching .loading-text {
  color: #777;
  font-weight: 400;
  margin-top: 10px;
}
/* line 105, ../sass/overlay.scss */
#overlay .overlayform #preview {
  display: none;
  margin-top: 20px;
}
/* line 110, ../sass/overlay.scss */
#overlay .overlayform #preview .general-info .artwork {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #777;
  margin: 0 auto;
}
/* line 118, ../sass/overlay.scss */
#overlay .overlayform #preview .general-info .label-release-genre {
  margin-top: 10px;
  color: #777;
  font-weight: 300;
}
/* line 125, ../sass/overlay.scss */
#overlay .overlayform #preview .additional-info {
  margin-top: 10px;
}
/* line 132, ../sass/overlay.scss */
#overlay .overlaycontent {
  width: 800px;
  height: 100%;
  margin: 100px auto;
  color: white;
}
/* line 138, ../sass/overlay.scss */
#overlay .overlaycontent .headline {
  font-size: 18px;
  border-bottom: 1px solid #505050;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
