@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mixins & Variables */
/* General stuff */
/* line 51, ../sass/global.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 55, ../sass/global.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 60, ../sass/global.scss */
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/* line 67, ../sass/global.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 71, ../sass/global.scss */
.container p {
  padding: 20px 0;
}
/* line 74, ../sass/global.scss */
.container p em {
  font-size: 2em;
}

/* line 80, ../sass/global.scss */
.centeredtext {
  text-align: center;
}

/* line 84, ../sass/global.scss */
.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  background-color: #45b29d;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 99, ../sass/global.scss */
.button:hover {
  background-color: #e27a3f;
}

/* === LOGGED IN CONTENT ================== */
/* line 106, ../sass/global.scss */
#loggedInWrapper {
  display: none;
  padding: 10px;
}
/* line 110, ../sass/global.scss */
#loggedInWrapper #controls {
  margin-bottom: 10px;
}
/* line 113, ../sass/global.scss */
#loggedInWrapper #controls #filter {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  float: left;
  border: 1px solid #cacaca;
  width: 280px;
  font-family: 'Lato';
  line-height: 42px;
}
/* line 124, ../sass/global.scss */
#loggedInWrapper #controls #vinylcount {
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cacaca;
  text-align: center;
  padding: 0 10px;
  color: #505050;
  float: right;
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}
/* line 139, ../sass/global.scss */
#loggedInWrapper #controls .addvinyl, #loggedInWrapper #controls .stats {
  background-color: #45b29d;
  border: 1px solid #45b29d;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px 0 15px;
  color: white;
  float: right;
  margin-top: 1px;
  font-weight: 300;
  line-height: 1;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  font-family: Lato, Helvetica, sans-serif;
}
/* line 153, ../sass/global.scss */
#loggedInWrapper #controls .addvinyl:hover, #loggedInWrapper #controls .stats:hover {
  background-color: #368a7a;
}
/* line 157, ../sass/global.scss */
#loggedInWrapper #controls .addvinyl .button-icon, #loggedInWrapper #controls .stats .button-icon {
  margin-right: 10px;
}
/* line 162, ../sass/global.scss */
#loggedInWrapper #controls .stats {
  background-color: #e27a3f;
  border: 1px solid #e27a3f;
  margin-left: 10px;
}
/* line 167, ../sass/global.scss */
#loggedInWrapper #controls .stats:hover {
  background-color: #bf6736;
}

/* line 174, ../sass/global.scss */
#vinylCount {
  text-align: center;
  width: 100%;
}
/* line 178, ../sass/global.scss */
#vinylCount p {
  font-weight: bold;
  font-size: 5em;
}
/* line 183, ../sass/global.scss */
#vinylCount span {
  font-size: 1em;
}

/* line 188, ../sass/global.scss */
#addvinyl {
  cursor: pointer;
  text-align: center;
}
/* line 192, ../sass/global.scss */
#addvinyl p {
  font-size: 8em;
  font-weight: bold;
  margin-top: 116px;
  color: #e27a3f;
}
/* line 199, ../sass/global.scss */
#addvinyl span {
  text-transform: uppercase;
}

/* === User Profile ================== */
