@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mixins & Variables */
/* General stuff */
/* line 56, ../sass/global.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 60, ../sass/global.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 65, ../sass/global.scss */
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/* line 72, ../sass/global.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 76, ../sass/global.scss */
.container p {
  padding: 20px 0;
}
/* line 79, ../sass/global.scss */
.container p em {
  font-size: 2em;
}

/* line 85, ../sass/global.scss */
.centeredtext {
  text-align: center;
}

/* line 89, ../sass/global.scss */
.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  background-color: #45b29d;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 104, ../sass/global.scss */
.button:hover {
  background-color: #e27a3f;
}

/* === LOGGED IN CONTENT ================== */
/* line 111, ../sass/global.scss */
#loggedInWrapper {
  display: none;
  padding: 10px;
  min-height: calc(100% - 197px);
}
/* line 116, ../sass/global.scss */
#loggedInWrapper #controls {
  margin-bottom: 10px;
}
/* line 119, ../sass/global.scss */
#loggedInWrapper #controls #filter {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  float: left;
  border: 1px solid #cacaca;
  width: 280px;
  font-family: 'Lato';
  line-height: 42px;
}
/* line 130, ../sass/global.scss */
#loggedInWrapper #controls #vinylcount {
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cacaca;
  text-align: center;
  padding: 0 10px;
  color: #505050;
  float: right;
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}
/* line 145, ../sass/global.scss */
#loggedInWrapper #controls .control-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px 0 15px;
  color: white;
  float: right;
  margin-top: 1px;
  font-weight: 300;
  line-height: 1;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  font-family: Lato, Helvetica, sans-serif;
}
/* line 157, ../sass/global.scss */
#loggedInWrapper #controls .control-button.addvinyl {
  background-color: #45b29d;
  border: 1px solid #45b29d;
}
/* line 160, ../sass/global.scss */
#loggedInWrapper #controls .control-button.addvinyl:hover {
  background-color: #368a7a;
}
/* line 165, ../sass/global.scss */
#loggedInWrapper #controls .control-button.stats {
  background-color: #e27a3f;
  border: 1px solid #e27a3f;
  margin-left: 10px;
}
/* line 170, ../sass/global.scss */
#loggedInWrapper #controls .control-button.stats:hover {
  background-color: #bf6736;
}
/* line 175, ../sass/global.scss */
#loggedInWrapper #controls .control-button.import {
  background-color: #4f768c;
  border: 1px solid #4f768c;
  margin-left: 10px;
}
/* line 180, ../sass/global.scss */
#loggedInWrapper #controls .control-button.import:hover {
  background-color: #334d5c;
}
/* line 186, ../sass/global.scss */
#loggedInWrapper #controls .control-button .button-icon {
  margin-right: 10px;
}

/* line 195, ../sass/global.scss */
#vinylCount {
  text-align: center;
  width: 100%;
}
/* line 199, ../sass/global.scss */
#vinylCount p {
  font-weight: bold;
  font-size: 5em;
}
/* line 204, ../sass/global.scss */
#vinylCount span {
  font-size: 1em;
}

/* line 209, ../sass/global.scss */
#addvinyl {
  cursor: pointer;
  text-align: center;
}
/* line 213, ../sass/global.scss */
#addvinyl p {
  font-size: 8em;
  font-weight: bold;
  margin-top: 116px;
  color: #e27a3f;
}
/* line 220, ../sass/global.scss */
#addvinyl span {
  text-transform: uppercase;
}

/* === User Profile ================== */
/* line 7, ../sass/profile.scss */
#profileform .user-location {
  font-size: 14px;
  color: #cacaca;
  font-weight: 300;
  padding-left: 10px;
}
/* line 15, ../sass/profile.scss */
#profileform .general-info {
  width: 150px;
  display: inline-block;
}
/* line 19, ../sass/profile.scss */
#profileform .general-info .user-pic {
  padding: 10px;
  width: 100px;
  height: 100px;
  border: 1px solid #505050;
}
/* line 27, ../sass/profile.scss */
#profileform .general-info .vinyl-count p, #profileform .general-info .price-value p, #profileform .general-info .top-label p, #profileform .general-info .top-artist p {
  margin: 10px 0 0 0;
  color: #cacaca;
  font-weight: 300;
}
/* line 32, ../sass/profile.scss */
#profileform .general-info .vinyl-count span, #profileform .general-info .price-value span, #profileform .general-info .top-label span, #profileform .general-info .top-artist span {
  font-size: 24px;
}
/* line 37, ../sass/profile.scss */
#profileform .general-info .top-artist {
  text-transform: capitalize;
}
/* line 42, ../sass/profile.scss */
#profileform .detailed-info {
  width: 640px;
  display: inline-block;
  vertical-align: top;
}
/* line 47, ../sass/profile.scss */
#profileform .detailed-info #genrePieChart {
  width: 100%;
  height: 380px;
}
