@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Mixins & Variables */
/* General stuff */
/* line 35, ../sass/screen.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 39, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 44, ../sass/screen.scss */
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/* line 51, ../sass/screen.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 55, ../sass/screen.scss */
.container p {
  padding: 20px 0;
}
/* line 58, ../sass/screen.scss */
.container p em {
  font-size: 2em;
}

/* line 64, ../sass/screen.scss */
.centeredtext {
  text-align: center;
}

/* === HEADER ======================== */
/* line 70, ../sass/screen.scss */
header {
  background-color: #202020;
  text-align: left;
  height: 60px;
  padding: 10px 20px;
}
/* line 76, ../sass/screen.scss */
header h1 {
  font-family: 'Playball', cursive;
  font-size: 2em;
  color: white;
  text-align: left;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-shadow: 0 0 10px #808080;
}
/* line 87, ../sass/screen.scss */
header h3 {
  color: #aaa;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  display: inline-block;
  letter-spacing: 1px;
  padding-left: 10px;
  line-height: 60px;
  height: 60px;
}

/* line 100, ../sass/screen.scss */
#loading {
  color: white;
  float: right;
  height: 60px;
  line-height: 60px;
}

/* line 107, ../sass/screen.scss */
#fb-button {
  display: none;
  float: right;
  height: 60px;
  line-height: 60px;
}

/* line 114, ../sass/screen.scss */
#fb-auth {
  padding: 0 20px 0 10px;
  background-color: #3B5998;
  border-radius: 5px;
  color: white;
  font-family: 'Lato', Helvetica, sans-serif;
  font-weight: light;
  border: 0;
  height: 40px;
}
/* line 124, ../sass/screen.scss */
#fb-auth span {
  height: 40px;
  line-height: 40px;
}

/* === LOGGED IN CONTENT ================== */
/* line 132, ../sass/screen.scss */
#loggedInWrapper {
  display: none;
  padding: 10px;
}
/* line 136, ../sass/screen.scss */
#loggedInWrapper #controls {
  margin-bottom: 10px;
}
/* line 139, ../sass/screen.scss */
#loggedInWrapper #controls #filter {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  float: left;
  border: 1px solid #cacaca;
  width: 280px;
}
/* line 148, ../sass/screen.scss */
#loggedInWrapper #controls #vinylcount {
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cacaca;
  text-align: center;
  padding: 0 10px;
  color: #505050;
  float: right;
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}
/* line 163, ../sass/screen.scss */
#loggedInWrapper #controls #addvinyl {
  background-color: #ff6c00;
  border: 1px solid #ff6c00;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  padding: 0 10px 0 5px;
  color: white;
  float: right;
  opacity: .8;
  margin-top: 1px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
/* line 175, ../sass/screen.scss */
#loggedInWrapper #controls #addvinyl:hover {
  opacity: 1;
}

/* line 182, ../sass/screen.scss */
#currentuser {
  text-align: center;
  height: 320px;
  display: inline-block;
  float: right;
  height: 60px;
  line-height: 60px;
  color: white;
}
/* line 191, ../sass/screen.scss */
#currentuser img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
/* line 197, ../sass/screen.scss */
#currentuser #username {
  margin-left: 10px;
  margin-right: 20px;
}
/* line 202, ../sass/screen.scss */
#currentuser #logout {
  padding-left: 20px;
  border-left: 1px solid grey;
  cursor: pointer;
}
/* line 207, ../sass/screen.scss */
#currentuser #logout:hover {
  color: #ff6c00;
}

/* line 213, ../sass/screen.scss */
#vinylCount {
  text-align: center;
  width: 100%;
}
/* line 217, ../sass/screen.scss */
#vinylCount p {
  font-weight: bold;
  font-size: 5em;
}
/* line 222, ../sass/screen.scss */
#vinylCount span {
  font-size: 1em;
}

/* line 227, ../sass/screen.scss */
#addvinyl {
  cursor: pointer;
  text-align: center;
}
/* line 231, ../sass/screen.scss */
#addvinyl p {
  font-size: 8em;
  font-weight: bold;
  margin-top: 116px;
  color: #ff6c00;
}
/* line 238, ../sass/screen.scss */
#addvinyl span {
  text-transform: uppercase;
}

/* === ALL THE VINYLS ============*/
/* line 248, ../sass/screen.scss */
.footable .edit, .footable .delete {
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
}
/* line 253, ../sass/screen.scss */
.footable .edit:hover, .footable .delete:hover {
  color: #ff6c00;
}
/* line 258, ../sass/screen.scss */
.footable .vinyl-artwork {
  width: 60px;
  height: 60px;
  background: url("../img/vinyl_PH.svg") no-repeat;
  background-size: cover;
}
/* line 265, ../sass/screen.scss */
.footable .artwork-column {
  width: 60px;
}

/* === OVERLAY ===================*/
/* line 272, ../sass/screen.scss */
#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}
/* line 280, ../sass/screen.scss */
#overlay .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 20px 20px 0 0;
  background-size: cover;
  cursor: pointer;
  color: white;
  font-size: 2em;
}
/* line 293, ../sass/screen.scss */
#overlay .overlayform {
  width: 300px;
  height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -150px;
  color: white;
  z-index: 100;
  text-align: center;
}
/* line 304, ../sass/screen.scss */
#overlay .overlayform form {
  width: 100%;
  font-size: 12px;
}
/* line 308, ../sass/screen.scss */
#overlay .overlayform form input[type="text"] {
  margin-bottom: 10px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px);
}
/* line 316, ../sass/screen.scss */
#overlay .overlayform form input[type="radio"] {
  margin: 0 5px 0 0;
}
/* line 320, ../sass/screen.scss */
#overlay .overlayform form span {
  margin-right: 20px;
}
/* line 324, ../sass/screen.scss */
#overlay .overlayform form input[type="submit"] {
  text-transform: uppercase;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #ff6c00;
  color: white;
  text-shadow: 0 0 10px #202020;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
/* line 334, ../sass/screen.scss */
#overlay .overlayform form input[type="submit"]:hover {
  padding: 10px 40px;
  text-shadow: 0 0 10px white;
}
/* line 342, ../sass/screen.scss */
#overlay .overlayform #response {
  color: white;
}
