@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/local/rvm/gems/ruby-2.0.0-p247@global/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/screen.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 27, ../sass/screen.scss */
html {
  width: 100%;
  height: 100%;
}

/* line 32, ../sass/screen.scss */
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

/* line 39, ../sass/screen.scss */
.container {
  width: 100%;
  margin: 0 auto;
}
/* line 43, ../sass/screen.scss */
.container p {
  padding: 20px 0;
}
/* line 46, ../sass/screen.scss */
.container p em {
  font-size: 2em;
}

/* line 52, ../sass/screen.scss */
.centeredtext {
  text-align: center;
}

/* === HEADER ======================== */
/* line 58, ../sass/screen.scss */
header {
  background-color: #202020;
  padding: 50px 0;
  text-align: center;
  height: 250px;
}
/* line 64, ../sass/screen.scss */
header h1 {
  font-family: 'Playball', cursive;
  font-size: 8em;
  color: white;
  text-shadow: 2px 2px 0px #cacaca;
  text-align: center;
}
/* line 72, ../sass/screen.scss */
header h3 {
  color: #cacaca;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 2px;
}

/* line 83, ../sass/screen.scss */
#fb-button {
  display: none;
}

/* line 87, ../sass/screen.scss */
#fb-auth {
  padding: 10px 20px 10px 0;
  background-color: #3B5998;
  border-radius: 5px;
  color: white;
  font-family: 'Lato', Helvetica, sans-serif;
  border: 0;
}
/* line 95, ../sass/screen.scss */
#fb-auth img {
  vertical-align: middle;
  height: 20px;
  width: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
/* line 103, ../sass/screen.scss */
#fb-auth span {
  vertical-align: middle;
  height: 20px;
}

/* === LOGGED IN CONTENT ================== */
/* line 111, ../sass/screen.scss */
#currentuser {
  text-align: center;
  height: 320px;
}
/* line 115, ../sass/screen.scss */
#currentuser p {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* line 122, ../sass/screen.scss */
#vinylCount {
  text-align: center;
  width: 100%;
}
/* line 126, ../sass/screen.scss */
#vinylCount p {
  font-weight: bold;
  font-size: 5em;
}
/* line 131, ../sass/screen.scss */
#vinylCount span {
  font-size: 1em;
}

/* line 136, ../sass/screen.scss */
#addvinyl {
  text-align: center;
}
/* line 139, ../sass/screen.scss */
#addvinyl p {
  font-size: 8em;
  font-weight: bold;
  margin-top: 90px;
  color: #2bab2a;
}
/* line 146, ../sass/screen.scss */
#addvinyl span {
  text-transform: uppercase;
}

/* line 151, ../sass/screen.scss */
#vinyldata {
  list-style: none;
  margin: 10px 0 10px 10px;
}
/* line 156, ../sass/screen.scss */
#vinyldata li {
  display: inline-block;
  width: 300px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: #202020;
  position: relative;
  height: 420px;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
/* line 169, ../sass/screen.scss */
#vinyldata li:hover {
  cursor: pointer;
}
/* line 172, ../sass/screen.scss */
#vinyldata li:hover .cover img {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
/* line 177, ../sass/screen.scss */
#vinyldata li .cover {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
/* line 182, ../sass/screen.scss */
#vinyldata li .cover img {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
/* line 187, ../sass/screen.scss */
#vinyldata li .vinylid {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 8px;
  color: white;
}
/* line 196, ../sass/screen.scss */
#vinyldata li .artist {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 0;
  font-size: 24px;
}
/* line 204, ../sass/screen.scss */
#vinyldata li .album {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: normal;
}
/* line 211, ../sass/screen.scss */
#vinyldata li .label {
  text-align: center;
  font-size: 12px;
  color: #777;
  letter-spacing: 1px;
  padding: 15px 0;
  font-weight: 300;
}
/* line 220, ../sass/screen.scss */
#vinyldata li .type {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  color: #777;
  padding-top: 10px;
}
