@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|Playball);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Mixins & Variables */
/* General stuff */
<<<<<<< HEAD
/* line 57, ../sass/global.scss */
=======
/* line 59, ../sass/global.scss */
>>>>>>> master
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

<<<<<<< HEAD
/* line 61, ../sass/global.scss */
=======
/* line 63, ../sass/global.scss */
>>>>>>> master
html {
  width: 100%;
  height: 100%;
}

<<<<<<< HEAD
/* line 66, ../sass/global.scss */
=======
/* line 68, ../sass/global.scss */
>>>>>>> master
body {
  background-color: #ddd;
  font-family: 'Lato', Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

<<<<<<< HEAD
/* line 73, ../sass/global.scss */
=======
/* line 75, ../sass/global.scss */
>>>>>>> master
.container {
  width: 100%;
  margin: 0 auto;
}
<<<<<<< HEAD
/* line 77, ../sass/global.scss */
.container p {
  padding: 20px 0;
}
/* line 80, ../sass/global.scss */
=======
/* line 79, ../sass/global.scss */
.container p {
  padding: 20px 0;
}
/* line 82, ../sass/global.scss */
>>>>>>> master
.container p em {
  font-size: 2em;
}

<<<<<<< HEAD
/* line 86, ../sass/global.scss */
=======
/* line 88, ../sass/global.scss */
>>>>>>> master
.centeredtext {
  text-align: center;
}

<<<<<<< HEAD
/* line 90, ../sass/global.scss */
=======
/* line 92, ../sass/global.scss */
>>>>>>> master
.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  border: 0;
  background-color: #45b29d;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato';
  letter-spacing: 1px;
  font-weight: 300;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
<<<<<<< HEAD
/* line 105, ../sass/global.scss */
=======
/* line 107, ../sass/global.scss */
>>>>>>> master
.button:hover {
  background-color: #e27a3f;
}

/* === LOGGED IN CONTENT ================== */
<<<<<<< HEAD
/* line 112, ../sass/global.scss */
=======
/* line 114, ../sass/global.scss */
>>>>>>> master
#loggedInWrapper {
  display: none;
  padding: 0px 0px 50px 0px;
  min-height: calc(100% - 197px);
}
<<<<<<< HEAD
/* line 117, ../sass/global.scss */
#loggedInWrapper #controls {
  margin-bottom: 10px;
}
/* line 120, ../sass/global.scss */
#loggedInWrapper #controls #filter {
  border-radius: 5px;
  height: 40px;
  padding: 0 10px;
  float: left;
  border: 1px solid #cacaca;
  width: 280px;
  font-family: 'Lato';
  line-height: 42px;
}
/* line 131, ../sass/global.scss */
#loggedInWrapper #controls #vinylcount {
  height: 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #cacaca;
  text-align: center;
  padding: 0 10px;
  color: #505050;
  float: right;
  line-height: 40px;
  font-weight: bold;
  font-size: 24px;
  margin-right: 10px;
}
/* line 146, ../sass/global.scss */
#loggedInWrapper #controls .control-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px 0 15px;
  color: white;
  float: right;
  margin-top: 1px;
  font-weight: 300;
  line-height: 1;
  transition: 0.4s all;
  -webkit-transition: 0.4s all;
  font-family: Lato, Helvetica, sans-serif;
}
/* line 158, ../sass/global.scss */
#loggedInWrapper #controls .control-button.addvinyl {
  background-color: #45b29d;
  border: 1px solid #45b29d;
}
/* line 161, ../sass/global.scss */
#loggedInWrapper #controls .control-button.addvinyl:hover {
  background-color: #368a7a;
}
/* line 166, ../sass/global.scss */
#loggedInWrapper #controls .control-button.stats {
  background-color: #e27a3f;
  border: 1px solid #e27a3f;
  margin-left: 10px;
}
/* line 171, ../sass/global.scss */
#loggedInWrapper #controls .control-button.stats:hover {
  background-color: #bf6736;
}
/* line 176, ../sass/global.scss */
#loggedInWrapper #controls .control-button.import {
  background-color: #4f768c;
  border: 1px solid #4f768c;
  margin-left: 10px;
}
/* line 181, ../sass/global.scss */
#loggedInWrapper #controls .control-button.import:hover {
  background-color: #334d5c;
}
/* line 187, ../sass/global.scss */
#loggedInWrapper #controls .control-button .button-icon {
  margin-right: 10px;
}

/* line 196, ../sass/global.scss */
#vinylCount {
  text-align: center;
  width: 100%;
}
/* line 200, ../sass/global.scss */
#vinylCount p {
  font-weight: bold;
  font-size: 5em;
}
/* line 205, ../sass/global.scss */
#vinylCount span {
  font-size: 1em;
}

/* line 210, ../sass/global.scss */
#addvinyl {
  cursor: pointer;
  text-align: center;
}
/* line 214, ../sass/global.scss */
#addvinyl p {
  font-size: 8em;
  font-weight: bold;
  margin-top: 116px;
  color: #e27a3f;
}
/* line 221, ../sass/global.scss */
#addvinyl span {
  text-transform: uppercase;
=======

/* === ALL THE VINYLS ============*/
/* line 7, ../sass/vinyls.scss */
.footable a {
  color: #df5a49;
  font-weight: 600;
  text-decoration: none;
}
/* line 12, ../sass/vinyls.scss */
.footable a:hover {
  text-decoration: underline;
>>>>>>> master
}
/* line 18, ../sass/vinyls.scss */
.footable .edit, .footable .delete {
  cursor: pointer;
  margin-right: 10px;
  font-size: 18px;
}
/* line 23, ../sass/vinyls.scss */
.footable .edit:hover, .footable .delete:hover {
  color: #df5a49;
}
/* line 29, ../sass/vinyls.scss */
.footable .vinyl-artwork {
  width: 60px;
  height: 60px;
  background: url("../img/vinyl_PH.svg") no-repeat;
  background-size: cover;
}
/* line 35, ../sass/vinyls.scss */
.footable .vinyl-artwork img {
  width: 60px;
  height: 60px;
}
/* line 41, ../sass/vinyls.scss */
.footable .artwork-column {
  width: 60px;
}
/* line 45, ../sass/vinyls.scss */
.footable .vinyl-artist {
  text-transform: capitalize;
}
/* line 50, ../sass/vinyls.scss */
.footable audio {
  vertical-align: middle;
}
/* line 56, ../sass/vinyls.scss */
.footable .circle {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid #cacaca;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  font-size: 18px;
  color: #fafafa;
  line-height: 32px;
  text-align: center;
  background: #000;
  text-indent: -9999px;
}

/* === PAGINATION ============== */
/* line 80, ../sass/vinyls.scss */
#pagination {
  text-align: center;
  color: #FFFFFF;
  vertical-align: middle;
  background-color: #202020;
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 89, ../sass/vinyls.scss */
#pagination div {
  display: inline-block;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
/* line 96, ../sass/vinyls.scss */
#pagination .next-page, #pagination .prev-page {
  width: 50px;
  font-size: 42px;
  cursor: default;
  border-left: 1px solid #505050;
  border-right: 1px solid #505050;
}
/* line 103, ../sass/vinyls.scss */
#pagination .next-page i, #pagination .prev-page i {
  vertical-align: top;
  line-height: 50px;
  opacity: .5;
}
/* line 109, ../sass/vinyls.scss */
#pagination .next-page.active, #pagination .prev-page.active {
  cursor: pointer;
}
/* line 111, ../sass/vinyls.scss */
#pagination .next-page.active i, #pagination .prev-page.active i {
  opacity: 1;
}
/* line 115, ../sass/vinyls.scss */
#pagination .next-page.active:hover, #pagination .prev-page.active:hover {
  color: #df5a49;
}
/* line 122, ../sass/vinyls.scss */
#pagination .current-page {
  width: 200px;
  font-size: 24px;
  vertical-align: top;
}
/* line 127, ../sass/vinyls.scss */
#pagination .current-page span {
  color: #a0a0a0;
  text-transform: uppercase;
  font-weight: 300;
}
